process {
    withName: '.*:BWAMEM1_MEM' {
        cpus = 12
        memory = '16 GB'
    }
    withName: '.*:BWAMEM2_MEM' {
        cpus = 12
        memory = '16 GB'
    }
    withName: '.*:GATK4_HAPLOTYPECALLER' {
        cpus = 4
        memory = '12 GB' 
    }
    withName: '.*:CNVKIT_BATCH' {
        cpus = 2
        memory = '12 GB'
    }
    withName: '.*:ENSEMBLVEP_VEP' {
        cpus = 4
        memory = '12 GB'
        ext.args = '--fork 4'
    }
}
